.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__imagem {
    padding: 0.1em;
}

.container__titulo {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__imagem::-moz-selection {
    background: var(--cor-gradiente);
}

.container__botao{
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branco);
}

.lista-menu__titulo {
    color: var(--cor-titulo);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 400;
    text-transform: uppercase;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .container__imagem {
        padding-left: 5em;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo {
        display: block;
        font-family: var(--fonte-josefin);
        color: var(--cor-preta);
        padding: .5em;
        font-size: 38px;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preta);
    }

    .icone-perfil {
        padding-right: 5em;
    }

    .icone-favoritos {
        display: none;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .lista-menu {
        
    }
    
    .lista-menu__link:hover {
        color: var(--cor-branco);
        background-color: var(--cor-subtitulo);
    }
}