.novidades {
    background-color: var(--cor-branco);
    padding: 1em;
}

.novidades__titulo,
.novidades__texto {
    background: var(--cor-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.novidades__titulo {
    font-size: 18px;
    font-weight: 500;
}

.novidades__texto {
    font-weight: 300;
    margin: 1em 0;
}

.novidades__email {
    background-color: transparent;
    border: 1px solid var(--cor-subtitulo);
    border-radius: 24px;
    color: var(--cor-subtitulo);
    padding: 1em;
    width: 90%;
}

.novidades__email::placeholder {
    font-family: var(--fonte-padrao);
    font-weight: 400;
    color: var(--cor-subtitulo);
    background: url('../img/Email.svg') no-repeat;
    background-position: 1em;
    padding-left: 3.5em;
}

@media screen and (min-width:1024px) {
    .novidades {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .novidades__titulo {
        font-size: 24px;
        font-weight: 500;
    }

    .novidades__texto {
        font-weight: 300;
    }

    .novidades__descricao {
        margin: 0 5em;
        width: 30%;
    }

    .novidades__email {
        width: 30%;
    }
}

@media screen and (min-width: 1400px) {
    .novidades__descricao{
        width: 30%;
        margin: 3em 1em;
    }
    .novidades__email {
        width: 20%;
    }

}